<div class="navigation-wrapper">
	<%= link_to(image_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"), root_path, class: 'logo') %>
	
	
  <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  <div class="nav">
    <ul id="navigation-menu">
			<%= render 'layouts/navigation_links' %>
    </ul>
  </div>
  <div class="navigation-tools">
    <div class="search-bar">
      <div class="search-and-submit">
        <input type="search" placeholder="Enter Search" />
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
    </div>
    <a href="javascript:void(0)" class="sign-up">Sign Up</a>
  </div>
</div>
